@model DawnAuthErrorMDL
@{
    ViewBag.Title = "错误详细信息";
    ViewBag.MIndex = 1;
    ViewBag.CIndex = 3;
    ViewBag.BodyTitle = "错误详细信息";
    Layout = "~/Views/Shared/_LayoutEditor.cshtml";
    int FPageCurrent = TypeHelper.TypeToInt32(ViewBag.PageCurrent, 1);
}
@section Functions{
    <li><input class="button" type="button" value="返 回" onclick="GotoHref('/Info/ErrorList/@FPageCurrent');" /></li>
}
@if (Model == null || Model.ErrId == null)
{    
    @Html.Partial("_PartialJump")
}
else
{
    <div class="field-item">
        <label>系统编号：</label>
        <input class="input-text percent50" type="text" disabled="disabled" value="@Model.ErrId.ToString().ToUpper()" />
    </div>
    <div class="field-item">
        <label>记录时间：</label>
        <input class="input-text percent50" type="text" disabled="disabled" value="@Model.ErrTime.ToString("yyyy-MM-dd HH:mm:ss")" />
    </div>
    <div class="field-item">
        <label>错误地址：</label>
        <input class="input-text percent50" type="text" disabled="disabled" value="@Model.ErrAddress" />
    </div>
    <div class="field-item">
        <label>错误消息：</label>
        <textarea class="input-text percent50" disabled="disabled">@Model.ErrMessage</textarea>
    </div>
    <div class="field-item">
        <label>错误目标：</label>
        <textarea class="input-text percent50" disabled="disabled">@Model.ErrTarget</textarea>
    </div>
    <div class="field-item">
        <label>错误跟踪：</label>
        <textarea class="input-text percent50" disabled="disabled">@Model.ErrTrace</textarea>
    </div>
    <div class="field-item">
        <label>错误来源：</label>
        <textarea class="input-text percent50" disabled="disabled">@Model.ErrSource</textarea>
    </div>
    <div class="field-item">
        <label>用户IP地址：</label>
        <input class="input-text percent50" type="text" disabled="disabled" value="@Model.ErrIp" />
    </div>
    <div class="field-item">
        <label>操作用户：</label>
        <input class="input-text percent50" type="text" disabled="disabled" value="@Model.ErrUname" />
    </div>
}