@{
    ViewBag.Title = "新增状态机制";
    ViewBag.BodyTitle = "状态机制数据添加";
    Layout = "~/Views/Shared/_LayoutDialog.cshtml";
}
@section Functions{
    <li><input class="button" type="button" value="保 存" onclick="dataSave();" /></li>
}
@Html.AntiForgeryToken()
<div class="field-item">
    <label>隶属模块：</label>
    @Html.DropDownList("ddlModule", ModuleHandler.GetSelectList(0), new { @class="percent25" })
    <span class="color-red padding-top-3">*</span>
    <span id="icoModule" class="margin-left-1em"></span>
</div>
<div class="field-memo">
    <label>&nbsp;</label>
    <span id="infoModule" class="color-blue"></span>
</div>
<div class="field-item">
    <label>机制名称：</label>
    @Html.TextBox("txtName", null, new { @class = "input-text percent25", maxlength = "50" })
    <span class="color-red padding-top-3">*</span>
    <span id="icoName" class="margin-left-1em"></span>
</div>
<div class="field-memo">
    <label>&nbsp;</label>
    <span id="infoName" class="color-blue"></span>
</div>
<div class="field-item">
    <label>机制编码：</label>
    @Html.TextBox("txtCode", null, new { @class = "input-text percent25", maxlength = "50" })
    <span id="icoCode" class="margin-left-1em"></span>
</div>
<div class="field-memo">
    <label>&nbsp;</label>
    <span id="infoCode" class="color-blue"></span>
</div>
<div class="field-item">
    <label>机制标识：</label>
    @Html.TextBox("txtMark", 255, new { @class = "input-text percent25", maxlength = "5" })
    <span id="icoMark" class="margin-left-1em"></span>
</div>
<div class="field-memo">
    <label>&nbsp;</label>
    <span id="infoMark" class="color-blue"></span>
</div>
<div class="field-item">
    <label>机制描述：</label>
    @Html.TextArea("txtDesc", new { @class = "input-text percent50", maxlength = "300" })
    <span id="icoDesc" class="margin-left-1em"></span>
</div>
<div class="field-memo">
    <label>&nbsp;</label>
    <span id="infoDesc" class="color-blue"></span>
</div>
<div class="field-item">&nbsp;</div>
@section Scripts{
    <script src="@Scripts.Url("~/Scripts/status/add.js")" type="text/javascript"></script>
}