@model IEnumerable<DawnAuthStatusMDL>
@{
    ViewBag.Title = "状态机制管理";
    ViewBag.MIndex = 3;
    ViewBag.CIndex = 1;
    ViewBag.BodyTitle = "状态机制数据列表";    
    var FPager = ViewBag.Pager as PagerHelperCHS;
    var FPagerParam = ViewBag.PagerParam as string;
}
@section Functions{
    <li><input class="button" type="button" value="添加新机制" onclick="@MenuHandler.UrlStatusAdd" /></li>
    <li><input class="button" type="button" value="刷 新" onclick="location.reload();" /></li>    
}
@Html.AntiForgeryToken()
<div class="tab-content default-tab" id="tab1">
    <div id="table-search">
        <div class="search-box">
            <label>隶属模块：</label>
            @Html.DropDownList("sltModule", ModuleHandler.GetSelectList(0), new { @class = "search-text1" })
            <label>机制编码：</label>
            <input class="input-text search-text1" type="text" id="txtCode" />
            <input class="button" type="button" value="开始检索" onclick="onSearchGo();" />
            <input class="button" type="button" value="清空检索" onclick="onSearchClear();" />
            <span class="color-red f14 margin-left-10" id="searchTips"></span>
        </div>
        <div class="clearfix"></div>
    </div>
    <table id="table-thead">
        <thead>
            <tr>
                <th class="per25">机制名称</th>
                <th class="per15">机制编码</th>
                <th class="per10">机制标识</th>
                <th class="per35">机制描述</th>
                <th class="per10">数据操作</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
    </table>
    <div id="table-tbody">
        <table>
            <tbody id="dataShowArea">                                        
                @foreach (var item in Model) {
                    <tr>
                        <td class="per25">
                            <span>@item.StatName</span>
                            <p class="color-orangered"><em>@ModuleHandler.GetFatherName(item.MdlId)</em></p>
                            </td>
                        <td class="per15">@item.StatCode</td>
                        <td class="per10">@item.StatMark</td>
                        <td class="per35">@ChangeHelper.ContentState(item.StatDesc)</td>
                        <td class="per10">
                            <a class="color-red" href="javascript:void(0);" onclick="dataDelete(@item.StatId);"><img src="~/Images/icons/delete.png" /> 删除</a>
                        </td>
                        <td>&nbsp;</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div id="table-tfoot">
        @Html.Raw(FPager.ShowPagerByScriptByNumeric("/Status/Search", FPagerParam, true, PagerType.Mvc))
    </div>
</div>
@section Scripts{
    @Scripts.Render("~/js/validate")
    <script src="@Scripts.Url("~/Scripts/status/list.js")" type="text/javascript"></script>
}