@{
    ViewBag.Title = "密码修改";
    ViewBag.BodyTitle = "当前管理员登录密码修改";
    Layout = "~/Views/Shared/_LayoutDialog.cshtml";
}
@section Functions{
    <li><input class="button" type="button" value="保 存" onclick="dataSave();" /></li>
}
@Html.AntiForgeryToken()
<div class="notification information">
    <a href="javascript:void(0);" class="close"><img src="/images/icons/cross_grey_small.png" title="关闭提示" alt="关闭提示" /></a>
    <div id="tab-content-tips">
        <b>请根据提示信息输入相应数据。</b>
    </div>
</div>
<div class="field-item">
    <label>旧密码：</label>
    @Html.Password("txtOldPwd", null, new { @class = "input-text percent25", maxlength = "16" })
    <span id="icoOldPwd" class="margin-left-1em"></span>
</div>
<div class="field-memo">
    <label>&nbsp;</label>
    <span id="infoOldPwd" class="color-blue"></span>
</div>
<div class="field-item">
    <label>新密码：</label>
    @Html.Password("txtNewPwd", null, new { @class = "input-text percent25", maxlength = "16" })
    <span id="icoNewPwd" class="margin-left-1em"></span>
</div>
<div class="field-memo">
    <label>&nbsp;</label>
    <span id="infoNewPwd" class="color-blue"></span>
</div>
<div class="field-item">
    <label>密码强度：</label>
    <span id="security-level" class="security-level0"></span>
</div>
<div class="field-item">
    <label>确认密码：</label>
    @Html.Password("txtCifPwd", null, new { @class = "input-text percent25", maxlength = "16" })
    <span id="icoCifPwd" class="margin-left-1em"></span>
</div>
<div class="field-memo">
    <label>&nbsp;</label>
    <span id="infoCifPwd" class="color-blue"></span>
</div>
@section Scripts{
    <script src="@Scripts.Url("~/Scripts/user/password.js")" type="text/javascript"></script>
}